<landing-component>
  <div class="container">
    <h1></h1>
    <div class="profile">
      <div>
        <img src="images/profile.jpg" alt="Kunal Soni" />
        <h1>Kunal Soni</h1>
      </div>

      <div class="profile-description">
        <h2>
          Product Engineer | ML Engineer | Software Engineer | AI Professional
        </h2>
        <p class="tagline">
          Driven to build scalable, automated, and human-centric products.
        </p>
      </div>

      <div class="social-links">
        <a href="https://www.linkedin.com/in/sonikunal7" aria-label="LinkedIn">
          <i class="fa-brands fa-linkedin"></i>
        </a>

        <a href="https://github.com/kunalpop" aria-label="GitHub">
          <i class="fa-brands fa-github"></i>
        </a>

        <a href="wechat.html" aria-label="WeChat">
          <i class="fa-brands fa-weixin"></i>
        </a>

        <a href="https://t.me/kunasoni" aria-label="Telegram">
          <i class="fa-brands fa-telegram"></i>
        </a>

        <a href="https://x.com/kunalpop" aria-label="X (Twitter)">
          <i class="fa-brands fa-x-twitter"></i>
        </a>

        <a href="https://www.facebook.com/kunalpop25" aria-label="Facebook">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>

      <!--
        <div class="cta">
          <a href="about.html">About Me</a>
          <a href="projects.html">Projects</a>
        </div>
        -->

      <!--
        <div class="quote">
          <p class="original">ਸਚਹੁ ਓਰੈ ਸਭੁ ਕੋ ਉਪਰਿ ਸਚੁ ਆਚਾਰੁ ॥</p>
          <p class="translation">
            Truth is higher than everything; but higher still is truthful
            living.
          </p>
        </div>
        -->
    </div>
  </div>
</landing-component>
